.mcqs {
	& > * {
		border: 1px solid #d2dfee;
		padding: 5px;
		margin: 10px 0;
		background-color: #d2dfee;
	}
	.mcqs_statement,
	.mcqs_options {
		width: 100%;
		border: 1px solid #ddd;
		padding: 10px;
	}
	.mcqs_statement {
		margin-bottom: 10px;
	}
}
#meng_mcqs_add_btn {
	display: inline-block;
	background-color: #55ffbd;
	padding: 8px 30px;
	box-shadow: 1px 0px 3px #ddd;
	border: 1px solid;
	font-weight: 700;
	cursor: pointer;
	&:hover {
		border-color: #d2dfee;
	}
}
.meng_shortcode {
	font-family: consolas, monospace;
}
